[submodule "deps/avatar-qemu"]
	path = deps/avatar-qemu
	url = https://github.com/avatartwo/avatar-qemu.git
[submodule "deps/avatar2"]
	path = deps/avatar2
	url = https://github.com/avatartwo/avatar2.git
